<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bmobile</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--##############SERVLETS##############-->
    <servlet>
        <servlet-name>Autentificacion</servlet-name>
        <servlet-class>control.Autentificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactenos</servlet-name>
        <servlet-class>control.Contactenos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>control.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movimientos</servlet-name>
        <servlet-class>control.Movimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compras</servlet-name>
        <servlet-class>control.Compras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autentificacion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactenos</servlet-name>
        <url-pattern>/contactenos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compras</servlet-name>
        <url-pattern>/admin/comprar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compras</servlet-name>
        <url-pattern>/admin/recargas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movimientos</servlet-name>
        <url-pattern>/admin/movimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Configuraciones del servidor SMTP -->
    <context-param>
        <param-name>hostMail</param-name>
        <param-value>mail.visionariatv.com</param-value>
    </context-param>
    <context-param>
        <param-name>TSLMail</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>mailPort</param-name>
        <param-value>25</param-value>
    </context-param>
    <context-param>
        <param-name>mailUser</param-name>
        <param-value>soporte@visionariatv.com</param-value>
    </context-param>
    <context-param>
        <param-name>authMail</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>mailFrom</param-name>
        <param-value>soporte@visionariatv.com</param-value>
    </context-param>
    <context-param>
        <param-name>mailPass</param-name>
        <param-value>visiontv</param-value>
    </context-param>
</web-app>